C:\Users\v.kelevich\IdeaProjects\cowab\master\target
C:\Users\v.kelevich\IdeaProjects\cowab\master\cowab-autotests.iml
C:\Users\v.kelevich\IdeaProjects\cowab\.idea
C:\Users\v.kelevich\IdeaProjects\cowab\cowabCompareScreens\allure-results
C:\Users\v.kelevich\IdeaProjects\cowab\cowabCompareScreens\target
C:\Users\v.kelevich\IdeaProjects\cowab\cowabCompareScreens\cowabCompareScreens.iml
C:\Users\v.kelevich\IdeaProjects\cowab\master\.gitmodules