<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests">
    <test verbose="1" name="Regression tests" annotations="JDK" thread-count="10">
        <classes>
            <class name="com.cowab.login.Login"/>
            <class name="com.cowab.search.Search"/>
            <class name="com.cowab.cart.Cart"/>
            <class name="com.cowab.checkout.Checkout"></class>


        </classes>
    </test>
</suite>